.IndexPageImage {
    width: 100%;
    height: 205px;
    background-color: #16487B;
    text-align: left;
    display: block;
}

.CTA {
    font-size: 1.5rem;
    background-color: #00acd4;
}
.CTAButton {
    background-color: #e23787;
    border-radius: 3px;
}
.CTALink {
    text-decoration: none;
    color: black;
}

.Presentation {
    background-color: #e3e4e4;
}

.PresentationText {
    text-align: justify;
    padding: 1rem;
    max-width: 1024px;
    margin: auto;
    font-size: 1.5rem;
}

.AppLogo {
    height: 410px;
    width: 470px;
    float:left;
    background-image: url(./AppLogo.jpg);
}
.Block {
    height: 410px;
    background-color: #004a8e;
}
.BlockText {
    font-size: 46px;
    max-width: 50%;
    float: right;
    font-weight: 600;
    color: white;
    text-align: left;
    padding-top: 50px;
}