.IndexPageImage {
    width: 100%;
    height: 205px;
    background-color: #16487B;
    text-align: left;
    display: block;
}

.CTA {
    font-size: 1.5rem;
    background-color: #004a8e;
    text-align: center;
    line-height: 1.5;
    color: white;
}
.CTAButton {
    background-color: #e23787;
    border-radius: 3px;
    font-weight: 400;
    color: white;
    font-size: 18px;
}

.CTALink {
    text-decoration: none;
    color: black;
}

.Cell {
    max-width: 30%;
    float: left;
    margin: 1rem;
}

.Row::after {
    content: "";
    clear: both;
    display: table;
}

.Main {
    max-width: 960px;
    margin: 0 auto;
}

.PresentationText {
    text-align: justify;
    padding: 1rem;
    max-width: 1024px;
    margin: auto;
    font-size: 16px;
}

.AppLogoWrapper {
    padding: 5px;
    background-color: #00acd4;

}

.AppLogo {
    min-height: 220px;
    width: 100%;
    background-size: contain;
    background: #00acd4 url(./AppLogo.png) no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

.Block {
    min-height: 280px;
    background-color: #00acd4;
    padding: 5px;
}

.BlockText {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 410px;
    text-align: left;
    font-size: 46px;
    max-width: 50%;
    font-weight: 600;
    color: white;
    padding-left: 5px;
}

.atclear {
    clear: both;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 10px;
    white-space: nowrap;
    width: 94px;
}

.IndexPageLink {
    text-decoration: none;
    color: #004a8e;
}