.IndexPageImage {
    width: 100%;
    height: 205px;
    background-color: #16487B;
    text-align: left;
    display: block;
}

.CTA {
    font-size: 1.5rem;
    background-color: #004a8e;
    text-align: center;
    line-height: 1.5;
}
.CTAButton {
    background-color: #e23787;
    border-radius: 3px;
    font-weight: 400;
    color: white;
}

.CTALink {
    text-decoration: none;
    color: black;
}

.Cell {
    max-width: 30%;
    float: left;
    margin: 1rem;
}

.Row::after {
    content: "";
    clear: both;
    display: table;
}

.Main {
    max-width: 960px;
    margin: 0 auto;
}

.Presentation {
    background-color: #e3e4e4;
}

.PresentationText {
    text-align: justify;
    padding: 1rem;
    max-width: 1024px;
    margin: auto;
    font-size: 1.5rem;
}

.AppLogo {
    min-height: 410px;
    width: 50%;
    float: left;
    background: url(./AppLogo.png) no-repeat center;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}
.Block {
    min-height: 410px;
    background-color: #00acd4;
    padding: 5px;
}
.BlockText {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 410px;
    text-align: left;
    font-size: 46px;
    max-width: 50%;
    font-weight: 600;
    color: white;
    padding-left: 5px;
}

.atclear {
    clear: both;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 10px;
    white-space: nowrap;
    width: 94px;
}

.footer {
    text-align: right;
    background-color: #e3e4e4;;
}
.footer-content {
    display: inline-block;
    font-size: 12px;
    list-style: none outside none;
    padding-right: 0.5em;
    text-align: right;
}
.footer-content ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: right;
}

.footer li {
    display: inline-block;
    font-size: 1.2em;
    margin-left: 1em;
    padding-left: 1em;
}

.footer li + li {
    border-left: 1px solid #666666;

}