@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

@font-face {
    font-family: 'Ajuntament';
    src: url('icoajuntament.ttf') format('truetype');
}

body {
    background: #fbfbfb !important;
    font-family: 'Source Sans Pro', sans-serif
}

input.cercabcn {
    min-width: 190px;
}

.buttons-container {
    border-radius: 4px;
    min-height: 45px;
    max-width: 1140px;
    margin: 0px auto;

}

.buttons-container .left-button {
    float: left
}

.buttons-container .right-button {
    float: right
}

.sliderItem {
    padding: 20px;
    border-radius: 4px;
    background: #fff;
    max-height: 300px;
    min-height: 300px;
}

.sliderTitle {
    text-align: left;
}

.sliderBody {
    font-size: 12px;
}

.sliderButton {
    float: right;
}

.sliderButtons {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 1rem 2rem;
    font-size: .8rem;
    background: #00acd4;
    color: #fff;
    border: none;
    margin: .5rem;
    border-radius: 0;
}

.sliderTitle {
    box-sizing: border-box;
    color: rgb(0, 74, 142);
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    font-weight: 600;
    height: 84px;
    line-height: 28.0001px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-block-end: 8.4px;
    margin-block-start: 10px;
    margin-bottom: 8.4px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    text-align: left;
    text-transform: uppercase;
    width: 340px;
    -webkit-font-smoothing: antialiased;
}

.sliderContainer {
    background: #f2f2f2;
}

.Presentation {
    max-width: 1140px;
    margin: 0 auto;
}

.titleLogo {
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15)
}

.container-family {
    max-width: 960px;
    margin: 30px auto;
}
