@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

@font-face {
    font-family: 'Ajuntament';
    src: url('icoajuntament.ttf') format('truetype');
}

body {
    background: #fbfbfb !important;
    font-family: 'Source Sans Pro', sans-serif
}
