.personNameAlign {
    text-align: center;
}

.PersonsViewerPage {
    color: #265a96;
}
.personRoleTitle {
    color: black;
    font-size: 18px;
    text-align: center;
}
.testMargin {
    margin-top: 15px;
}
.bg-family {
    padding: 20px;
    background: #eeeeee;
    border: #dbdbdb 1px solid;
    border-radius: 4px;
}
.container-family {
    max-width: 960px;
    margin: 30px auto;
}
.sectionTitle {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
}
.resultText {
}
.resultIconSuccess {
  font-size: 18px !important;
  color: #98bf11;
}
.resultIconError {
  color: #858585;
}
