.personNameAlign{
    text-align:center;
}
.AdultsViewerPage {
    color: #265A96;
}
.personRoleTitle {
    color: black;
    font-size: 18px;
    text-align: center
}
.testMargin {
    margin-top:15px;
}
.bg-family {
    padding: 20px;
    background: #f2f2f2;
    border: #dbdbdb 1px solid;
    border-radius: 4px;
}
.container-family{
    max-width: 960px;
    margin: 30px auto;
}