
.errorText {
    color: #c60c30;
}

.textDescription {
  padding: 30px;
  word-wrap: break-word;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-size: 12px !important;
}
.linkBenefits{
  text-decoration: none
}
.subtitle {
  color: #202020 !important;
}
