.Main {
    max-width: 960px;
    margin: 0 auto;
    text-align: justify;
}
.content {
    min-height: 1297px;
}

.atclear {
    clear: both;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 10px;
    white-space: nowrap;
    width: 94px;
}
