.button-close {
    color: white;
    display: block;
    position: absolute;
    top: 50%;
    right: 35px;
    line-height: 19px;
    margin-top: -12px;
    padding: 0px 8px;
    background-color: #c60c30;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}
.react-cookie-banner {
    position: relative;
    text-align: center;
    width: 100%;
    height: 45px;
    z-index: 10000;
    overflow: hidden;
    background-color: white;
}

.cookie-link {
    color: #c60c30;
    text-decoration: underline;
    font-style: oblique;
    margin-left: 10px;
}

.cookie-message {
    font-family: "Source Sans Pro", sans-serif;
    color: #c60c30;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    max-width: 75%;
    word-wrap: break-word;
}
