@import url("https://w9.barcelona.cat/assetsdi/icoajuntament/bcn-icon.css");
@import url("https://w9.barcelona.cat/assets/core/stylesheets/core.css");
header {
    width: 100%;
    background-color: #1a181d;
    overflow: hidden;
}

.HeaderText {
    float: right;
    font-size: 2rem;
    color: white;
    padding: 0 15px 0 0;

}

.HeaderLogo {
    float: left;
    background-image: url(./AppLogo.png);
    height: 90px;
    width: 240px;
}