header {
    width: 100%;
    background-color: #1a181d;
    overflow: hidden;
}

.HeaderText {
    float: right;
    font-size: 2rem;
    color: white;
    padding: 0 15px 0 0;

}

.HeaderLogo {
    float: left;
    background-image: url(./AppLogo.png);
    height: 91px;
    width: 240px;
}