.CTA {
    font-size: 1.5rem;
    background-color: #004a8e;
    text-align: center;
    line-height: 1.5;
    color: white;
    padding-bottom: 10px;
}

.CTALink {
    text-decoration: none;
    color: black;
}

.Cell {
    max-width: 30%;
    float: left;
    margin: 1rem;
}

.Row::after {
    content: '';
    clear: both;
    display: table;
}

.Main {
    max-width: 960px;
    margin: 0 auto;
}

.PresentationText {
    text-align: justify;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1024px;
    margin: auto;
    font-size: 16px;
}

.AppLogo {
    min-height: 410px;
    width: 55%;
    float: left;
    background-size: contain;
    background: #00acd4 url(AppLogo.png) no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

.BlockContainer {
    background-color: #00acd4;
}

.Block {
    max-width: 1080px;
    min-height: 410px;
    margin-left: auto;
    margin-right: auto;
    background-color: #00acd4;
    padding: 5px;
}

.BlockText {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 410px;
    text-align: left;
    font-size: 46px;
    max-width: 50%;
    font-weight: 600;
    color: white;
    padding-left: 20px;
}

.IndexPageLink {
    text-decoration: none;
    color: #004a8e;
}
