.footer {
    text-align: right;
    background-color: #e3e4e4;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: inline-block;
    font-size: 12px;
    list-style: none outside none;
    padding-right: 0.5em;
    text-align: right;
}

.footer-content ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: right;
}

.footer li {
    display: inline-block;
    font-size: 1.2em;
    margin-left: 1em;
    padding-left: 1em;
}

.footer li + li {
    border-left: 1px solid #666666;
}
