.AppHeaderContainer {
    background-color: white;
}

.AppHeader {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.AppLogoPetit{
    background: url("AppLogoPetit.png") no-repeat;
    height: 40px;
    width: 50%;
    background-size: contain;
    -webkit-background-size: contain;
}