.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

.IndexPageImage {
    width: 100%;
    height: 600px;
    background-image: url(./indexPage/IndexPageBackground.jpeg);
    background-size:cover;
}

.CTA {
    margin: 275px 0 0 0;
    font-size: 1.5rem;
}

.CTALink {
    text-decoration: none;
    color: black;
}
.Presentation {

    background-color: lightgrey;
}

.PresentationText {
    text-align: justify;
    padding: 1rem;
    max-width: 1024px;
    margin: auto;
    font-size: 1.5rem;
}

.Main {
    max-width: 960px;
    margin: 0 auto;
}

.Cell {
    max-width: 30%;
    float: left;
    margin: 1rem;
}

.Row::after {
    content: "";
    clear: both;
    display: table;
}

.FormContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

h1 {
    box-sizing: border-box;
    display: block;
    position: relative;
    text-align: center;
    -webkit-margin-after: 21.44px;
    -webkit-margin-before: 21.44px;
    -webkit-margin-end: 0px;
    -webkit-margin-start: 0px;
}
.field {
    display: block;
    margin-bottom: 0.5rem;
}

label {
    display: block;
    font-size: 0.8rem;
    line-height: 1.4rem;
    font-weight: 600;
    color: #9a9a9a;
}

.Select {
    width: 20rem;
    display: inline-block;
}

.RegularTextInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #CDCDCD;
    font-size: 1rem;
    padding: 0.5rem;
    min-width: 20rem;
    height: 36px;
}

.RegularTextInput:focus {
    outline: 2px solid #1695A3;
}

.ItemList {
    column-count: 1;
    column-gap: 0;
    width: 400px;
    margin: 0;
    padding: 0;
}

.Item {
    display: inline-block;
    width: 400px;
    background-color: lightgrey;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 65px;
    font-weight: bold;
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
}

.ItemGreen {
    display: inline-block;
    background-color: lightgrey;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 10px solid white;
    padding: 10px;
    min-width: 440px;
}
input:focus {
    outline:none;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 0.5rem;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    background: #1695A3;
    color: white;
    border: none;
    margin: 0.5rem 0.5rem;
    border-radius: 0;
}

button:focus {
    outline: none;
}
button:hover {
    opacity: 0.8;
}

button + button {
    margin-left: 1rem;
}

button.secondary {
    color: #1695A3;
    background: transparent;
    border: 1px solid #1695A3;
}

.CancelButton {
    background: transparent;
    border: 2px solid #1695A3;
    color: #1695A3;
    font-weight: 600;
}

footer {
    background-color: black;
    height: 200px;
}