@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

* {
  box-sizing: border-box;
}

article,
aside,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif !important;
    color: #333;
    margin: 0 0 0 0;
}

button,
input,
optgroup,
select,
textarea {
    font-family: 'Roboto', sans-serif !important;
}
